/* RESET */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #f9c0d3, #fff);
}

/* MENU NO TOPO */
.top-menu {
    width: 100%;
    background-color: #bb5a7a;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.top-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.top-menu a:hover {
    background-color:  #bb5a7a;
    transform: scale(1.05);
}

/* BOTÃO VOLTAR FIXO */
.voltar {
    position: fixed;
    bottom: 20px;
    right: 100px;
    background-color:  #bb5a7a;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    z-index: 999;
}

.voltar:hover {
    background-color: #bb5a7a;
    transform: scale(1.1);
}

/* MAIN */
main {
    padding: 50px 30px 40px; /* espaço por causa do menu fixo */
}

/* TÍTULO */
h1 {
    color:  #bb5a7a;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.2em;
    font-weight: bold;
    height: 20px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff0f5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ffc0cb;
    text-align: left;
}

th {
    background-color: #bb5a7a;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #ffd6e0;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .top-menu {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }
}
